<%# app/views/tasks/edit.html.erb %>
<% content_for :title, "Editing task" %>

<h1>Editing task</h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "View", @task, class: "btn-link" %> |
  <%= link_to "Back to tasks", tasks_path , class: "btn-link"%>
</div>
