<%= render @task %>

<div class="button-group">
  <%= button_to "Edit", edit_task_path(@task), method: :get, class: "btn-link" %>
  <%= button_to "Back", tasks_path, method: :get, class: "btn-link" %>
  <%= button_to "Destroy", @task, method: :delete, class: "btn-link btn-danger" %>
</div>
