<%# app/views/projects/edit.html.erb %>
<% content_for :title, "Editing project" %>

<h1>Editing project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "Show this project", @project, class: "btn-link" %> |
  <%= link_to "Back to projects", projects_path, class: "btn-link"  %>
</div>
