<%# app/views/projects/index.html.erb %>
<% content_for :title, "Projects" %>

<h1>Projects</h1>
<%= link_to "New project", new_project_path, class: "btn-link" %>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</div>


