<%= render @project %>

<div class="button-group">
  <%= button_to "Edit", edit_project_path(@project),  method: :get,class: "btn-link" %>
  <%= button_to "Back", projects_path,  method: :get ,class: "btn-link"  %>
  <%= button_to "Destroy", @project, method: :delete, class: "btn-link btn-danger"  %>
</div>

