

<% content_for :title, "Time entries" %>

<h1>Time entries</h1>

<div id="time_entries">

  <% if @time_entries.present? %>
    <% @time_entries.each do |time_entry| %>
      <%= render time_entry %>
    <% end %>
  <% else %>
    <p>No Time Entries found.</p>
  <% end %>  
</div>

<%= link_to "New time entry", new_time_entry_path,class: "btn-link" %>
