<%# app/views/time_entries/index.html.erb %>


<% content_for :title, "Time Entries" %>

<h1>Time Entries</h1>
<%= link_to "New time entry", new_time_entry_path,class: "btn-link" %>

<div id="time_entries">

  <% if @time_entries.present? %>
    <% @time_entries.each do |time_entry| %>
      <%= render time_entry %>
    <% end %>
  <% else %>
    <p>No Time Entries found.</p>
  <% end %>  
</div>


