<%# app/views/layouts/_footer.html.erb %>
<div class="centered-container float-down-container">
    <div class="centered-content float-down-content">
        Created by chipy, review it on <a href="https://github.com/iamchipy/teakeypr">GitHub</a>  |  &copy; 2025 <a href="http://chipy.dev">chipy.dev</a>
    </div>
</div>