<%# app/views/layouts/_footer.html.erb %>
<div class="footer centered-container float-down-container">
    <div class="centered-content float-down-content">
        <div>
            Created by chipy (view it on <a href="https://github.com/iamchipy/teakeypr">GitHub</a>)
        </div>
        <div>
            &copy; 2025 <a href="http://chipy.dev">chipy.dev</a>
        </div>
        <div>
            [uv-<%= @unique_visitors_count %>]
        </div>
    </div>
</div>